<!-- [ navigation menu ] start -->
<nav class="pc-sidebar ">
	<div class="navbar-wrapper">
		<div class="m-header">
			<a href="index.html" class="b-brand">
				<!-- ========  change your logo here ============ -->
				<img src="/static/assets/images/logo.svg" alt="" class="logo logo-lg">
				<img src="/static/assets/images/logo-sm.svg" alt="" class="logo logo-sm">
			</a>
		</div>
		<div class="navbar-content">
			<ul class="pc-navbar">

				<li class="pc-item">
					<a href="/" class="pc-link "><span class="pc-micon"><i
								class="material-icons-two-tone">home</i></span><span
							class="pc-mtext">Dashboard</span></a>
				</li>


				<li class="pc-item">
					<a href="/scene" class="pc-link "><span class="pc-micon"><i
								class="material-icons-two-tone">business_center</i></span><span
							class="pc-mtext">Lịch trình</span></a>
				</li>



			</ul>

		</div>
	</div>
</nav>
<!-- [ navigation menu ] end -->