{% extends "layouts/base.html" %}

{% block title %}Quản lý lịch trình{% endblock %}

{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<!-- CSS của Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- JS của Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<style>
    .list-items {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .list-items .item {
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .list-items .item .check-icon {
        margin-right: 8px;
    }

    .list-items .item.selected {
        background-color: #e0e0e0;
        /* Màu nền cho mục được chọn */
        color: #ff0000;
        /* Màu chữ cho mục được chọn */
    }

    .edit-btn,
    .edit-btn1 {
        color: #26af5d;
        /* Màu xanh lá cây cho nút chỉnh sửa */
        font-size: 1.2em;
        text-decoration: none;
        margin-right: 20px;
        /* Thêm khoảng cách giữa các biểu tượng */
    }

    .delete-btn {
        color: #eb5765;
        /* Màu đỏ cho nút xóa */
        font-size: 1.2em;
        text-decoration: none;
    }

    .edit-btn,
    .edit-btn1:hover {
        color: #26af5d71;
        /* Màu xanh lá cây đậm hơn khi hover */
    }

    .delete-btn:hover {
        color: #eb576656;
        /* Màu đỏ đậm hơn khi hover */
    }

    .table td {
        vertical-align: middle;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock stylesheets %}

{% block content %}
<div class="pc-container">
    <div class="pcoded-content">
        <div class="d-flex">
            <div>
                <h1 class="mt-4">Quản lý auto</h1>
            </div>
            <div class="ms-auto mt-4">
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#CreateFormModalAuto" id="add_auto">Cài đặt auto</button>

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5>Danh sách hẹn giờ</h5>
            </div>
            <div class="card-body table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên thiết bị</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Thời gian</th>
                                <th scope="col">Ngày</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hengio in hengios %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ hengio.name }}</td>
                                <td>
                                    {% if hengio.status == 1 %}
                                    Bật
                                    {% else %}
                                    Tắt
                                    {% endif %}
                                </td>
                                <td>{{ hengio.time }}</td>
                                <td>{{ hengio.days_of_week }}</td>
                                <td>
                                    <a href="#" class="edit-btn" data-id="{{ hengio.id }}"
                                        data-name="{{ hengio.name }}" data-status="{{ hengio.status }}"
                                        data-time="{{ hengio.time }}" data-days="{{ hengio.days_of_week }}"
                                        data-pin="{{ hengio.pin }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="#" class="delete-btn" onclick="removeItemHengio('{{ hengio.id }}')">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="CreateFormModalAuto" tabindex="-1" aria-labelledby="FormModalLabelAuto" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FormModalLabelAuto">Cài đặt Auto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="create-form-auto" action="{% url 'add_auto' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="auto_name" class="col-form-label">Tên cây trồng:</label>
                        <input type="text" class="form-control" name="auto_name" id="auto_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="pump_choice" class="col-form-label">Loại bơm:</label>
                        <select class="form-select" name="pump_choice" id="pump_choice">
                            <option value="1">Continuous Mode (Always On)</option>
                            <option value="2">Interval Mode (On for 5s, Off for 5s)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="van_status" class="col-form-label">Trạng thái van:</label>
                        <select class="form-select" name="van_status" id="van_status">
                            <option value="1">Tự động</option>
                            <option value="2">Thủ công</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="min_ph" class="col-form-label">pH min:</label>
                        <input type="text" class="form-control" name="min_ph" id="min_ph" required>
                    </div>
                    <div class="mb-3">
                        <label for="max_ph" class="col-form-label">pH max:</label>
                        <input type="text" class="form-control" name="max_ph" id="max_ph" required>
                    </div>
                    <div class="mb-3">
                        <label for="min_light" class="col-form-label">Ánh sáng min:</label>
                        <input type="text" class="form-control" name="min_light" id="min_light" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="ModalFooterAuto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="submit-form-auto">Thêm</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    $(document).ready(function () {
        // Xử lý khi nhấn nút "Thêm"
        $("#submit-form-auto").click(function () {
            // Lấy token CSRF từ form
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();

            // Tạo đối tượng chứa dữ liệu form
            var formData = {
                'auto_name': $('#auto_name').val(),
                'pump_choice': $('#pump_choice').val(),
                'van_status': $('#van_status').val(),
                'min_ph': $('#min_ph').val(),
                'max_ph': $('#max_ph').val(),
                'min_light': $('#min_light').val(),
                'csrfmiddlewaretoken': csrfToken
            };
            console.log(formData);
            

            // Gửi dữ liệu bằng AJAX
            $.ajax({
                type: 'POST',
                url: '{% url "add_auto" %}',
                data: formData,
                success: function (data) {
                    // Chuyển hướng sau khi thêm thành công
                    window.location.href = "/auto";
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Xử lý lỗi
                    console.log('Error:', errorThrown);
                }
            });
        });
    });
</script>


<script>
    flatpickr(".flatpickr-time", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
        static: true,
        minuteIncrement: 1 // Set minute increment to 1
    });
</script>

{% endblock javascripts %}