{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}
<style>
    .toggle-switch {
        display: none;
    }

    .toggle-label {
        display: block;
        width: 50px;
        height: 30px;
        background-color: #797979;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
    }

    .toggle-label::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 2px;
        width: 28px;
        height: 28px;
        background-color: #fffffff0;
        border-radius: 50%;
        transition: all 0.3s;
    }

    .toggle-switch:checked + .toggle-label {
        background-color: #ff3e20;
    }

    .toggle-switch:checked + .toggle-label::after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="pc-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-xl-6 col-md-12" id="relays">
                <div class="card flat-card" id="sensors">
                    <div class="row-table">
                        {% for sensor in sensors %}
                        {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                        </div><div class="row-table">
                        {% endif %}
                        <div class="col-sm-4 d-none d-md-table-cell d-lg-table-cell d-xl-table-cell card-body br">
                            <div class="row align-items-center">
                                <div class="col-sm-4 text-center">
                                    <i class="material-icons-two-tone text-primary mb-1">language</i>
                                </div>
                                <div class="col-sm-8">
                                    <h5>{{ sensor.value }} {{ sensor.unit }}</h5>
                                    <span>{{ sensor.name }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row" id="relays">
                    {% for relay in relays %}
                    <div class="col-sm-6">
                        <div class="card prod-p-card background-pattern">
                            <div class="card-body">
                                <div class="row align-items-center m-b-0">
                                    <div class="col">
                                        <h3 class="m-b-0">{{ relay.name }}</h3>
                                    </div>
                                    <div class="col-auto">
                                        <input type="checkbox" id="relay-toggle-{{ relay.id }}" class="toggle-switch" {% if relay.value == "1" %}checked{% endif %}>
                                        <label for="relay-toggle-{{ relay.id }}" class="toggle-label" onclick="toggleRelay('{{ relay.id }}', '{{ relay.pin }}', '{{ relay.api_key }}')"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                    </div><div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Biểu đồ Nhiệt độ và Độ ẩm không khí
                        </h5>
                    </div>
                    <div class="card-body">
                        <div id="area-chart-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>BDữ liệu Ánh sáng</h5>
                    </div>
                    <div class="card-body">
                        <div id="area-chart-v4"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Dữ liệu pH</h5>
                    </div>
                    <div class="card-body">
                        <div id="area-chart-v5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data_v7 = JSON.parse('{{ data_list_v7|escapejs }}');
        var data_v8 = JSON.parse('{{ data_list_v8|escapejs }}');
        var data_v4 = JSON.parse('{{ data_list_v4|escapejs }}');
        var data_v5 = JSON.parse('{{ data_list_v5|escapejs }}');

        // Extract values and dates
        var values_v7 = data_v7.map(item => parseFloat(item.value));
        var values_v8 = data_v8.map(item => parseFloat(item.value));
        var dates_v7 = data_v7.map(item => item.date); 
        var values_v4 = data_v4.map(item => parseFloat(item.value));
        var dates_v4 = data_v4.map(item => item.date); 
        var values_v5 = data_v5.map(item => parseFloat(item.value));
        var dates_v5 = data_v5.map(item => item.date); 

        var options = {
            chart: {
                height: 350,
                type: 'area',
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            colors: ["#ffa21d", "#EA4D4D"],
            series: [{
                name: 'Độ ẩm',
                data: values_v7
            }, {
                name: 'Nhiệt độ',
                data: values_v8
            }],
            xaxis: {
                type: 'datetime',
                categories: dates_v7
            },
            tooltip: {
                x: {
                    format: 'dd/MM/yy HH:mm'
                },
            }
        };

        var chart = new ApexCharts(
            document.querySelector("#area-chart-1"),
            options
        );

        chart.render();

        // Biểu đồ cho dữ liệu V4
        var options_v4 = {
            chart: {
                height: 300,
                type: 'area',
               
            },
            dataLabels: {
                enabled: false,
                width: 1,
            },
            stroke: {
                cucurve: 'smooth'
            },
            colors: ["#7267EF"],
            series: [{
                name: "Ánh sáng",
                data: values_v4
            }],
            
            grid: {
                row: {
                    colors: ['#f3f6ff', 'transparent'], 
                    opacity: 0.5
                },
            },
            xaxis: {
                type: 'datetime',
                categories: dates_v4
            },
            tooltip: {
                x: {
                    format: 'dd/MM/yy HH:mm'
                },
            }
        };

        var chart_v4 = new ApexCharts(
            document.querySelector("#area-chart-v4"),
            options_v4
        );
        chart_v4.render();

        // Biểu đồ cho dữ liệu V5
        var options_v5 = {
            chart: {
                height: 300,
                type: 'area',
                
            },
            dataLabels: {
                enabled: false,
                width: 1,
            },
            stroke: {
                curve: 'smooth',
            },
            colors: ["#7267EF"],
            series: [{
                name: "pH",
                data: values_v5
            }],
            tooltip: {
                x: {
                    format: 'dd/MM/yy HH:mm'
                },
            },
            grid: {
                row: {
                    colors: ['#f3f6ff', 'transparent'], 
                    opacity: 0.5
                },
            },
            xaxis: {
                type: 'datetime',
                categories: dates_v5
            }
        };

        var chart_v5 = new ApexCharts(
            document.querySelector("#area-chart-v5"),
            options_v5
        );
        chart_v5.render();
    });

    const ws = new WebSocket('ws://' + window.location.host + '/ws/notifications/');
    console.log(ws);

    ws.onopen = () => {
        console.log('WebSocket connection established');
    };
    ws.onerror = (error) => {
        console.error('WebSocket error: ', error);
    };
    ws.onclose = () => {
        console.log('WebSocket connection closed');
    };
    ws.onmessage = (event) => {
        console.log('Message received from server');
        loadData();
    };

    function loadData() {
        $.ajax({
            url: "{% url 'home' %}"
        }).done(function (data) {
            $('#sensors').html($(data).find('#sensors').html());
            $('#relays').html($(data).find('#relays').html());
        });
    }

    function toggleRelay(relayId, relayPin, apikey) {
        const relayCheckbox = document.getElementById('relay-toggle-' + relayId);
        const value = relayCheckbox.checked ? 0 : 1;
        const url = `${window.location.protocol}//${window.location.hostname}:${window.location.port}/update/${apikey}/${relayPin}/?value=${value}`;

        fetch(url, { method: 'GET' })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log('Request sent successfully');
            })
            .catch(error => {
                console.error('Error sending request:', error);
            });
    }
</script>
{% endblock javascripts %}

